<%= provide :title, "About" %>

<h1>About</h1>
<p>
  The 
  <%= link_to "Ruby on Rails Tutorial help page", Settings.links.rails_tutorial.help_page %>
  , part of the
  <%= link_to "Learn Enough", Settings.links.rails_tutorial.learnenough_page %> 
  family of tutorials, is a
  <%= link_to "book", Settings.links.rails_tutorial.book_page %>
  and
  <%= link_to "screencast series", Settings.links.rails_tutorial.screencast_page %>
  to teach web development with
  <%= link_to "Ruby on Rails Tutorial", Settings.links.rails_tutorial.home_page %>
  This is the sample app for the tutorial.
</p>
